.lead {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 984px;
  min-height: 1005px; 
  margin: 0 148px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    min-height: 962px;  
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 769px) {
  .lead {
    min-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    min-height: 862px;
    margin: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 321px) {
  .lead {
    width: 100%;
    min-height: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
    min-height: 406px;
    margin: 0;
  }
}