.place__website {
  max-width: 456px;

  align-self: flex-end;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 409px) and (min-width: 320px) {
  .place__website {
    display: none;
  }
}